
* {
  box-sizing: border-box;
}

a {
  color: #FFFFFF;
  text-decoration: none;
}

body, html {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  background-color: #222222;
  font-family: "Gotham SSm A", "Gotham SSm B";
  font-style: normal;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

.content {
  position: relative;
  max-width: 800px;
  padding: 10px;
  font-weight: 700;
  font-size: 40px;
}

.title {
  display: block;
  padding: 20px 0;
}

.link, .text {
  position: relative;
  z-index: 100;
}

.link--quizup {
  text-decoration: line-through;
}

.link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 5px;
  background-color: #FFFFFF;
  transform: scale3d(0,1,1);
  transition: all ease-in-out 200ms;
}
.link:hover::after {
  transform: scale3d(1,1,1);
}


.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: all ease-in-out 200ms;
}
.link:hover ~ .backdrop {
  opacity: 0.9;
}
.link--quizup:hover ~ .backdrop {
  background-color: #FF5454;
}
.link--wowair:hover ~ .backdrop {
  background-color: #99258d;
}
.link--flytime:hover ~ .backdrop {
  background-color: #ff5722;
}
.link--hibyli:hover ~ .backdrop {
  background-color: #4a90e2;
}

@media (max-device-width: 700px) {
  .content {
    font-size: 30px;
  }

  .link::after {
    transform: scale3d(1,1,1);
  }
}
